@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
    font-family: "Lato";
    margin: 0;
}

body header{
    z-index: 2;
    position: absolute;
    max-width: 1110px;
    margin: auto;
    right: 0;
    left: 0;
}

.container{
    max-width: 1110px;
    margin: auto;
}

body .main-menu{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    margin: 0;
}

.site-header{
    background: transparent;
}

body .main-header{
    display: flex;
    flex-direction: row;
    height: 100px;
    padding-top: 17px;
}

.header-left{
    width: 30%;
    display: flex;
    align-items: center;
}

.header-right{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
}

.main-menu li{
    margin: 0 5px;
}

.main-menu li a{
    padding: 0 5px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

body .logo{
    display: flex;
    align-items: center;
}

body .logo figure,
body figure {
    margin: 0;
    width: 100%;
    height: 100%;
}

body .logo img{
    width: 25px;
}

body .logo-text{
    margin: 0;
    padding-left: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
}

body .row img{
    width: 100%;
    height: 100%;
}

body .row{
    position: relative;
}

body .st-row .row-inner {
    position: absolute;
    top: 40px;
    max-width: 1110px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
}

body .button{
    padding: 17px 52px;
    background: #fff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #ED4C5C;
    margin-top: 55px;
    cursor: pointer;
}

body .text-box{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .text-box h1{
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0;
    line-height: 86.4px;
}

body .text-box p{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    margin-top: 39px;
}

.column-12{
    width: 100%;
}

.column-3{
    width: 31%;
    position: relative;
}

body .row-nd{
    background: #fafafa;
    padding-bottom: 229px;
}

body .row-nd .wrapper,
body .row-rd .wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-12 p
{
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 600;
    text-align: center;
    margin: 63px 0;
}

.column-3 .box{
    background: #fff;
    padding: 33px 32px 25px 32px;
    border-radius: 8px;
    position: absolute;
    max-width: 293px;
    bottom: -105px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column-3 .box.transparent{
    background: transparent;
}

.column-3 .box p:first-of-type{
    margin: 0;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
    font-weight: 700;
}

.column-3 .box p:nth-of-type(2){
    margin: 0;
    padding-top: 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.column-3 .box a{
    font-size: 14px;
    line-height: 18px;
    color: #ED4C5C;
    padding-top: 23px;
}

.column-3 figure{
    display: flex;
    justify-content: center;
}

.big-number p{
    font-size: 100px;
    line-height: 120px;
    font-weight: 700;
    color: #10101014;
    text-align: center;
    margin: 0;
}

.row-rd .column-12 p{
    margin-bottom: 52px;
}

.row-rd .column-3 .box{
    padding: 30px;
    top: 35px;
    bottom: auto;
}

.row-rd .column-3 .box p:nth-of-type(2){
    padding-top: 10px;
    line-height: 14.4px;
}

.row-rd .column-3 figure{
    height: 80px;
}

body .row-rd{
    padding-bottom: 175px;
}

body .row-last{
    background-color: #ED4C5C;
    padding-top: 117px;
    padding-bottom: 78px;
}

body .row-last .wrapper{
    display: flex;
    justify-content: space-between;
}

body .row-last .column-6{
    width: 50%;
}

body .row-last .column-6:first-of-type{
    max-width: 434px;
}

.text-block{
    color: #fff;
}

.text-block p:first-of-type{
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 600;
    margin: 0;
}

.text-block p:nth-of-type(2){
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
    text-align: justify;
    margin-top: 55px;
}

body .row-last form input,
body .row-last form span{
    width: 100%;
}

body .row-last form input{
    border: 1px solid #fff;
    border-radius: 6px;
    margin-bottom: 24px;
    background: transparent;
    padding: 21px 31px;
    box-sizing: border-box;
}

body .row-last form input::placeholder{
    color: #FFFFFF80;
}

body .row-last form .form-row{
    display: flex;
}

body .row-last form .form-row:first-of-type span{
    width: 50%;
}

body .row-last form .form-row:first-of-type span:first-of-type{
    padding-right: 15px;
}

body .row-last form .form-row:first-of-type span:last-of-type{
    padding-left: 15px;
}

body .row-last form input.btn{
    border: 1.5px solid #fff;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16.8px;
    width: 160px;
    height: 50px;
    color: #fff;
    padding: 17px 34px;
}

@media (max-width: 1200px){
    body header,
    body .st-row .row-inner,
    .container{
        max-width: 900px;
    }
}


