$borderColor: #fff;
$textWhiteColor: #fff;
$font14: 14px;
$font18: 18px;
$containerWidth: 1110px;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Lato";
    margin: 0;
}

body header{
    z-index: 2;
    position: absolute;
    max-width: $containerWidth;
    margin: auto;
    right: 0;
    left: 0;
}

.container{
    max-width: $containerWidth;
    margin: auto;
}

body .main-menu{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.site-header{
    background: transparent;
}

body .main-header{
    display: flex;
    flex-direction: row;
    height: 100px;
    padding-top: 17px;
}

.header-left{
    width: 30%;
    display: flex;
    align-items: center;
}

.header-right{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
}

.main-menu li{
    margin: 0 5px;
}

.main-menu li a{
    padding: 0 5px;
    text-decoration: none;
    font-size: $font14;
    color: $textWhiteColor;
}

body .logo{
    display: flex;
    align-items: center;
}

body .logo figure,
body figure {
    margin: 0;
    width: 100%;
    height: 100%;
}

body .logo img{
    width: 25px;
}

body .logo-text{
    margin: 0;
    padding-left: 10px;
    color: $textWhiteColor;
    font-weight: 700;
    font-size: $font18;
    line-height: 21.6px;
}

body .row img{
    width: 100%;
    height: 100%;
}

body .row{
    position: relative;
}

body .st-row .row-inner {
    position: absolute;
    top: 40px;
    max-width: $containerWidth;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
}

body .button{
    padding: 17px 52px;
    background: $textWhiteColor;
    border-radius: 6px;
    font-size: $font14;
    font-weight: 600;
    color: #ED4C5C;
    margin-top: 55px;
    cursor: pointer;
}

body .text-box{
    color: $textWhiteColor;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .text-box h1{
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0;
    line-height: 86.4px;
}

body .text-box p{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    margin-top: 39px;
}

.column-12{
    width: 100%;
}

.column-3{
    width: 31%;
    position: relative;
}

body .row-nd{
    background: #fafafa;
    padding-bottom: 229px;
}

body .row-nd .wrapper,
body .row-rd .wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-12 p
{
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 600;
    text-align: center;
    margin: 63px 0;
}

.column-3 .box{
    background: #fff;
    padding: 33px 32px 25px 32px;
    border-radius: 8px;
    position: absolute;
    max-width: 293px;
    bottom: -105px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column-3 .box.transparent{
    background: transparent;
}

.column-3 .box p:first-of-type{
    margin: 0;
    font-size: $font18;
    line-height: 21.6px;
    text-align: center;
    font-weight: 700;
}

.column-3 .box p:nth-of-type(2){
    margin: 0;
    padding-top: 20px;
    font-size: $font14;
    line-height: 18px;
    text-align: center;
}

.column-3 .box a{
    font-size: $font14;
    line-height: 18px;
    color: #ED4C5C;
    padding-top: 23px;
}

.column-3 figure{
    display: flex;
    justify-content: center;
}

.big-number p{
    font-size: 100px;
    line-height: 120px;
    font-weight: 700;
    color: #10101014;
    text-align: center;
    margin: 0;
}

.row-rd .column-12 p{
    margin-bottom: 52px;
}

.row-rd .column-3 .box{
    padding: 30px;
    top: 35px;
    bottom: auto;
}

.row-rd .column-3 .box p:nth-of-type(2){
    padding-top: 10px;
    line-height: 14.4px;
}

.row-rd .column-3 figure img {
    height: 80px;
    width: auto;
    object-fit: contain;
}

body .row-rd{
    padding-bottom: 175px;
}

body .row-last{
    background-color: #ED4C5C;
    padding-top: 117px;
    padding-bottom: 78px;
}

body .row-last .wrapper{
    display: flex;
    justify-content: space-between;
}

body .row-last .column-6{
    width: 50%;
}

body .row-last .column-6:first-of-type{
    max-width: 434px;
}

.text-block{
    color: $textWhiteColor;
}

.text-block p:first-of-type{
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 600;
    margin: 0;
}

.text-block p:nth-of-type(2){
    font-size: $font14;
    line-height: 19.6px;
    font-weight: 400;
    text-align: justify;
    margin-top: 55px;
}

body .row-last form input,
body .row-last form span{
    width: 100%;
}

body .row-last form input{
    border: 1px solid $borderColor;
    border-radius: 6px;
    margin-bottom: 24px;
    background: transparent;
    padding: 21px 31px;
    box-sizing: border-box;
    color: $textWhiteColor;
}

body .row-last form input::placeholder{
    color: #FFFFFF80;
}

body .row-last form .form-row{
    display: flex;
}

body .row-last form .form-row:first-of-type span{
    width: 50%;
}

body .row-last form .form-row:first-of-type span:first-of-type{
    padding-right: 15px;
}

body .row-last form .form-row:first-of-type span:last-of-type{
    padding-left: 15px;
}

body .row-last form input.btn{
    border: 1.5px solid $borderColor;
    margin-bottom: 0;
    font-size: $font14;
    line-height: 16.8px;
    width: 160px;
    height: 50px;
    color: $textWhiteColor;
    padding: 17px 34px;
}

body #error-messages{
    border: 1px solid #9b0000;
    padding: 5px 10px;
    margin-top: 15px;
    color: $textWhiteColor;
    display: none;
}

@media (max-width: 1200px){
    body header,
    body .st-row .row-inner,
    .container{
        max-width: 900px;
    }

    body .text-box h1 {
        font-size: 55px;
        line-height: 65.4px;
    }

    body .text-box p {
        font-size: 22px;
        line-height: 32px;
        margin-top: 29px;
    }

    body .button {
        padding: 15px 49px;
        font-size: 12px;
        margin-top: 45px;
    }

    .column-3 .box p:first-of-type {
        font-size: 15px;
        line-height: 18.6px;
    }

    .column-3 .box p:nth-of-type(2) {
        padding-top: 18px;
        font-size: 13px;
    }

    .column-3 .box a {
        font-size: 14px;
        line-height: 16px;
        padding-top: 18px;
    }

    .column-3 figure img{
        max-width: 300px;
        object-fit: contain;
    }

    .column-3 .box {
        padding: 25px 25px 20px 25px;
        min-height: 170px;
    }

    body .row-nd {
        padding-bottom: 200px;
    }

    .column-12 p {
        font-size: 30px;
        line-height: 36.2px;
        margin: 50px 0;
    }

    .big-number p {
        font-size: 90px;
        line-height: 100px;
    }

    body .row-last {
        padding-top: 95px;
        padding-bottom: 60px;
    }

    .text-block p:first-of-type {
        font-size: 30px;
        line-height: 36.2px;
    }

    .text-block p:nth-of-type(2) {
        font-size: 12px;
        line-height: 16.6px;
        margin-top: 40px;
    }

    body .row-last .column-6:first-of-type {
        max-width: 40%;
    }

    body .row-last form input {
        margin-bottom: 20px;
        padding: 17px 23px;
    }

    body .row-last form input.btn {
        font-size: 12px;
        line-height: 13.8px;
        width: 160px;
        height: auto;
        padding: 14px 31px;
    }
}

body .site-mobile-header{
    display: none;
}

.site-mobile-header {
    overflow: hidden;
    background-color: #df4e61f0;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 10px 0;
    width: 100%;
}

.site-mobile-header .logo{
    padding-left: 20px;
}
  
.site-mobile-header #header-menu-mobile {
    display: none;
}
  
.site-mobile-header a {
    padding: 17px 24px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    color: #fff;

}
  
.site-mobile-header a.icon {
    background: #d71629;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.site-mobile-header a.icon img
  {
    max-width: 23px;
    height: 23px;
    object-fit: contain;
}

.site-mobile-header a:hover {
    background-color: #df4e61;
}

@media (max-width: 991px){
    body header,
    body .st-row .row-inner,
    .container{
        max-width: 700px;
    }

    body .site-header{
        display: none;
    }

    body .site-mobile-header{
        display: block;
    }

    body .logo img{
        width: auto;
    }

    body .text-box h1 {
        font-size: 40px;
        line-height: 50px;
    }

    body .text-box p {
        font-size: 18px;
        line-height: 25px;
        margin-top: 16px;
    }

    body .button {
        padding: 13px 45px;
        font-size: 12px;
        margin-top: 25px;
    }

    body .row-nd .wrapper,
    body .row-rd .wrapper,
    body .row-last .wrapper{
        flex-direction: column;
        align-items: center;
    }

    .column-3{
        width: 100%;
        margin-bottom: 135px;
    }

    body .row-last .container .wrapper .column-6{
        width: 100%;
        max-width: inherit;
    }

    body .row-last .column-6:first-of-type {
        margin-bottom: 40px;
    }

    .column-3 figure img{
        max-width: 100%;
    }

    .column-3 .box{
        max-width: 45%;
    }

    .column-12 p,
    body .row-rd .column-12 p {
        font-size: 30px;
        line-height: 32.2px;
        margin: 40px 0;
    }

    body .row-nd {
        padding-bottom: 0px;
    }

    .column-3 .box p:first-of-type {
        font-size: 18px;
        line-height: 21.6px;
    }

    .column-3 .box p:nth-of-type(2){
        font-size: 14px;
    }

    .row-rd .column-3 .box{
        top: 15px;
    }

    body .row-rd{
        padding-bottom: 0;
    }

    body .row-last {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 767px){
    body .st-row img{
        object-fit: cover;
        min-height: 400px;
    }

    body .text-box h1 {
        font-size: 38px;
        line-height: 38px;
    }

    .column-3 .box {
        max-width: 330px;
    }

    body header,
    .container,
    body .st-row .row-inner {
        max-width: 100%;
        margin: 0 5%; 
    }

    body .st-row .row-inner{
        justify-content: center;
        align-items: center;
    }

    .big-number p {
        font-size: 75px;
        line-height: 90px;
    }
}

@media (max-width: 480px){
    body .text-box h1 {
        font-size: 28px;
        line-height: 30px;
    }

    body .text-box p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 16px;
    }

    .column-3 .box p:first-of-type {
        font-size: 16px;
        line-height: 18px;
    }

    .column-3 .box a {
        padding-top: 14px;
    }

    .column-12 p,
    body .row-rd .column-12 p {
        font-size: 25px;
        line-height: 27px;
        margin: 30px 0;
    }

    body .row-last form .form-row{
        flex-direction: column;
    }

    body .row-last form .form-row:first-of-type span {
        width: 100%;
    }

    body .row-last form .form-row:first-of-type span:first-of-type {
        padding-right: 0px;
    }

    body .row-last form .form-row:first-of-type span:last-of-type {
        padding-left: 0px;
    }

    .site-mobile-header a {
        padding: 10px 17px;
    }

    .site-mobile-header a.icon img {
        max-width: 18px;
        height: 18px;
    }

    body .logo img {
        max-width: 25px;
    }

    .site-mobile-header .logo {
        padding-left: 15px;
    }
}